@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3> Film AddView</h3>
<form>
    <input type="text" id="" placeholder="Title" />
    <input type="datetime" id="" placeholder="Year" />
    <br />
    <input type="submit" value="Submit"/>
</form>